// Reset
body {
  margin: 0;
}
// Reset end

.header {
  display: grid;
  height: 6em;
  align-items: center;
  justify-items: center;
  background-color: #ccc;
  margin: 0 0 1em 0;

  &__text {
    font-size: 4em;
    font-weight: 300;
    font-family: Georgia;
    margin: 0;
  }
}

.main {
  display: grid;

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }
}

.article {
  display: grid;
  margin: 1em 2em;
  font-size: 1.5em;
  line-height: 2em;
  font-family: Georgia;

  &__text {
    text-align: center;
  }

  @media only screen and (min-width: 1200px) {
   font-size: 1.3em;
  } 
}

.quotes-section {
  display: grid;
  grid-template-columns: 1fr;
  margin: 2em;
  grid-gap: 3em;

  &__quote {
    display: grid;
    align-items: center;
    background-color: #aaa;
    padding: 1.5em;
    text-align: center;
    &:nth-child(odd) {
      background-color: #ccc;
    }
  }

  @media only screen and (min-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  } 
}

.footer {
  display: grid;
  height: 6em;
  align-items: center;
  justify-items: center;
  background-color: #ccc;
  margin: 3em 0 0 0;

  &__text {
    font-size: 4em;
    font-weight: 300;
    font-family: Georgia;
    margin: 0;
  }
}

